/man/lowerBound.Rd
/man/plotSim.Rd
/man/simBIA.Rd
/man/zsd.Rd
/man/zss.Rd
/R/.Rhistory
/vignettes/CaseStudy.aux
/vignettes/CaseStudy.log
/vignettes/CaseStudy.pdf
/vignettes/CaseStudy.tex
/vignettes/auto/CaseStudy.el
/vignettes/.Rhistory
/R/gridsim_140226.Rd
/vignettes/CaseStudy.bbl
/vignettes/CaseStudy.blg
/vignettes/SimulateBias.html
/vignettes/SimulateBias.md
/vignettes/_region_.log
/vignettes/_region_.tex
/vignettes/case.eps
/vignettes/case.ps
/vignettes/coverage.eps
/vignettes/figure/unnamed-chunk-111.png
/vignettes/figure/unnamed-chunk-112.png
/vignettes/figure/unnamed-chunk-2.pdf
/vignettes/figure/unnamed-chunk-3.pdf
/vignettes/figure/unnamed-chunk-8.png
/vignettes/figure/unnamed-chunk-9.png
/vignettes/mean_bias.eps
/vignettes/mean_bias.eps.!sync
/vignettes/texput.log
/vignettes/uc_coverage.eps
/vignettes/uc_varmeanBias.eps
/vignettes/var_bias.eps
/vignettes/varmeanBias.eps
.Rproj.user
/R/#maxsim.R#
